html,body {
  margin: 0;
			padding: 0;
      font-size: 16px;
      font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

body{
		background-color: #F9F9F9;
}
.fa-heart {
  color: red;
}

.headingmain{
                
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    height: 100%;

}

#courseDetails .tutorial-title-txt{
								font-size: 1.5rem;
								color: #212529;
}



.btn-primary {
                background-color: #DA552F !important;
                color: #fff !important;
                border: none !important;
}

.bg-White {
  background-color: White;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  text-align: left;
}

a {
  cursor: pointer;
}

.navbar-brand::first-letter {
  color: #DA552F;
}

footer{

    box-shadow: 0 4px 8px 0 #ECC7A9, 0 6px 20px 0#ECC7A9;
  

}

aside.border{
	border-color: #dee2e6!important;
	background-color: #F1F1F1!important;
	} 
.navbar-nav>li>a:hover {
  background-color:#F8F9FA;
  border-radius: 0.25rem;
}

.fa-user-circle {
  font-size: 30px;
}




.modal-backdrop.show {
  opacity: .8;
}



.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #000;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /*login signup css*/

  .form-control:focus {
                                border-color: #33cabb;
                                box-shadow: 0 0 8px rgba(0,0,0,0.1);
                }
                .navbar-header.col {
                                padding: 0 !important;
                }              
                .navbar {
                                background: #fff;
                                padding-left: 16px;
                                padding-right: 16px;
                                border-bottom: 1px solid #dfe3e8;
                                border-radius: 0;
                }
                .nav-link img {
                                border-radius: 50%;
                                width: 36px;
                                height: 36px;
                                margin: -8px 0;
                                float: left;
                                margin-right: 10px;
                }
                .navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
                                padding-left: 0;
                                font-size: 20px;
                                padding-right: 50px;
                }
                .navbar .navbar-brand b {
                                font-weight: bold;
                                color: #33cabb;                 
                }
                .navbar .form-inline {
        display: inline-block;
    }
                .navbar .nav li {
                                position: relative;
                }
                .navbar .nav li a {
                                color: #888;
                }
                .search-box {
        position: relative;
    }          
    .search-box input {
        padding-right: 35px;
                                border-color: #dfe3e8;
        border-radius: 4px !important;
                                box-shadow: none
    }
                .search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 7px;
                                height: 100%;
    }
    .search-box i {
        color: #a0a5b1;
                                font-size: 19px;
    }
                .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
                                color: #fff;
                                background: #33cabb;
                                padding-top: 8px;
                                padding-bottom: 6px;
                                vertical-align: middle;
                                border: none;
                }              
                .navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {                            
                                color: #fff;
                                outline: none;
                                background: #31bfb1;
                }
                .navbar .navbar-right li:first-child a {
                                padding-right: 30px;
                }
                .navbar .nav-item i {
                                font-size: 18px;
                }
                .navbar .dropdown-item i {
                                font-size: 16px;
                                min-width: 22px;
                }
                .navbar ul.nav li.active a, .navbar ul.nav li.open > a {
                                background: transparent !important;
                }              
                .navbar .nav .get-started-btn {
                                min-width: 120px;
                                margin-top: 8px;
                                margin-bottom: 8px;
                }
                .navbar ul.nav li.open > a.get-started-btn {
                                color: #fff;
                                background: #31bfb1 !important;
                }
                .navbar .dropdown-menu {
                                border-radius: 1px;
                                border-color: #e5e5e5;
                                box-shadow: 0 2px 8px rgba(0,0,0,.05);
                }
                .navbar .nav .dropdown-menu li {
                                color: #999;
                                font-weight: normal;
                }
                .navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
                                padding: 8px 20px;
                                line-height: normal;
                }
                .navbar .navbar-form {
                                border: none;
                }
                .navbar .dropdown-menu.form-wrapper {
                                width: 280px;
                                padding: 20px;
                                left: auto;
                                right: 0;
        font-size: 14px;
                }
                .navbar .dropdown-menu.form-wrapper a {                         
                                color: #33cabb;
                                padding: 0 !important;
                }
                .navbar .dropdown-menu.form-wrapper a:hover{
                                text-decoration: underline;
                }
                .navbar .form-wrapper .hint-text {
                                text-align: center;
                                margin-bottom: 15px;
                                font-size: 13px;
                }
                .navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
                                color: #fff;
        margin: 0;
                                padding: 0 !important;
                                font-size: 13px;
                                border: none;
                                transition: all 0.4s;
                                text-align: center;
                                line-height: 34px;
                                width: 47%;
                                text-decoration: none;
    }          
                .navbar .social-btn .btn-primary {
                                background: #507cc0;
                }
                .navbar .social-btn .btn-primary:hover {
                                background: #4676bd;
                }
                .navbar .social-btn .btn-info {
                                background: #64ccf1;
                }
                .navbar .social-btn .btn-info:hover {
                                background: #4ec7ef;
                }
                .navbar .social-btn .btn i {
                                margin-right: 5px;
                                font-size: 16px;
                                position: relative;
                                top: 2px;
                }
                .navbar .form-wrapper .form-footer {
                                text-align: center;
                                padding-top: 10px;
                                font-size: 13px;
                }
                .navbar .form-wrapper .form-footer a:hover{
                                text-decoration: underline;
                }
                .navbar .form-wrapper .checkbox-inline input {
                                margin-top: 3px;
                }
                .or-seperator {
        margin-top: 32px;
                                text-align: center;
                                border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
                                color: #666;
        padding: 0 8px;
                                width: 30px;
                                height: 30px;
                                font-size: 13px;
                                text-align: center;
                                line-height: 26px;
                                background: #fff;
                                display: inline-block;
                                border: 1px solid #e0e0e0;
                                border-radius: 50%;
                                position: relative;
                                top: -15px;
                                z-index: 1;
    }
    .navbar .checkbox-inline {
                                font-size: 13px;
                }
                .navbar .navbar-right .dropdown-toggle::after {
                                display: none;
                }
                @media (min-width: 1200px){
                                .form-inline .input-group {
                                                width: 300px;
                                                margin-left: 30px;
                                }
                }
                @media (max-width: 768px){
                                .navbar .dropdown-menu.form-wrapper {
                                                width: 100%;
                                                padding: 10px 15px;
                                                background: transparent;
                                                border: none;
                                }
                                .navbar .form-inline {
                                                display: block;
                                }
                                .navbar .input-group {
                                                width: 100%;
                                }
                                .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
                                                display: block;
                                }
  }
  /* login signup finished */

                 /* post comment start */
.panel-shadow {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}
.panel-white {
border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
color: #333;
background-color: #fff;
border-color: #ddd;
}
.panel-white  .panel-footer {
background-color: #fff;
border-color: #ddd;
}

.post .post-heading {
height: 95px;
padding: 20px 15px;
}
.post .post-heading .avatar {
width: 60px;
height: 60px;
display: block;
margin-right: 15px;
}
.post .post-heading .meta .title {
margin-bottom: 0;
}
.post .post-heading .meta .title a {
color: black;
}
.post .post-heading .meta .title a:hover {
color: #aaaaaa;
}
.post .post-heading .meta .time {
margin-top: 8px;
color: #999;
}
.post .post-image .image {
width: 100%;
height: auto;
}
.post .post-description {
padding: 15px;
}
.post .post-description p {
font-size: 14px;
}
.post .post-description .stats {
margin-top: 20px;
}
.post .post-description .stats .stat-item {
display: inline-block;
margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
margin-right: 8px;
}
.post .post-footer {
border-top: 1px solid #ddd;
padding: 15px;
}
.post .post-footer .input-group-addon a {
color: #454545;
}
.post .post-footer .comments-list {
padding: 0;
margin-top: 20px;
list-style-type: none;
}
.post .post-footer .comments-list .comment {
display: block;
width: 100%;
margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
width: 35px;
height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
display: block;
width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
font-size: 14px;
font-weight: bold;
display: inline;
margin-top: 0;
margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
font-size: 12px;
color: #aaa;
margin-top: 0;
display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
margin-left: 50px;
}

								/* post comment ends */
										/* post comment ends */
										

										.checkbox {
											display: block;
											position: relative;
											padding-left: 35px;
											margin-bottom: 12px;
											cursor: pointer;
											font-size: 1.2rem;
											-webkit-user-select: none;
											-moz-user-select: none;
											-ms-user-select: none;
											user-select: none;
									}
									
									/* Hide the browser's default checkbox */
									.checkbox input {
											position: absolute;
											opacity: 0;
											cursor: pointer;
									}
									
									/* Create a custom checkbox */
									.checkmark {
											position: absolute;
											top: 0;
											left: 0;
											height: 22px;
											width: 22px;
											background-color: #fff;
											border: 1px solid #ddd;
											margin-top: .25rem!important;
									}
									
									/* On mouse-over, add a grey background color */
									.checkbox:hover input ~ .checkmark {
											background-color: #ccc;
									}
									
									/* When the checkbox is checked, add a blue background */
									.checkbox input:checked ~ .checkmark {
											background-color: #DA552F;
									}
									
									/* Create the checkmark/indicator (hidden when not checked) */
									.checkmark:after {
											content: "";
											position: absolute;
											display: none;
									}
									
									/* Show the checkmark when checked */
									.checkbox input:checked ~ .checkmark:after {
											display: block;
									}
									
									/* Style the checkmark/indicator */
									.checkbox .checkmark:after {
											left: 9px;
											top: 5px;
											width: 5px;
											height: 10px;
											border: solid white;
											border-width: 0 3px 3px 0;
											-webkit-transform: rotate(45deg);
											-ms-transform: rotate(45deg);
											transform: rotate(45deg);
                  }
                  
                  /* Style the buttons */
                  
                  .btn{
                    box-shadow:none !important;
                  }
                  .btn-outline-primary{
                    width: 220px;
                    background:white!important; 
                    border-color:  #DA552F!important;
                    color:Grey;
                    font-weight:450;
                  }
                  
                  .btn-outline-primary:hover{
                    background: #DA552F!important;
                    outline: none;
                    box-shadow: none!important;
                  }
                  
                  .btn-outline-primary:focus{
                    background: #DA552F!important;
                    outline: none;
                    box-shadow: none !important;
                  }
                  
                  .btn-outline-primary:active{
                    background: #DA552F!important;
                    outline: none;
                    box-shadow: none !important;
                  }
                  .btn-primary {
                    background-color: #DA552F !important;
                    color: #fff !important;
                    border: none !important;
    }
    
    .tut-vote a.bg-success, .tut-vote a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover {
      background-color: #DA552F!important;
    }
    