*, :after, :before {
  box-sizing: border-box;
}
a{
text-decoration: none!important;
}

#courses-list{
margin-top:7%;
}

.card-header{
background-color: #fff;
}
.tut-vote a{
color: #7a7a7a;
}

.tut-vote .arrow {
transform: scale(1.5);
line-height: 1.2;
transition: all .1s linear;
}

.tut-vote .vote-widget {
display: flex;
flex-direction: column;
align-items: center;
width: 55px;
height: 60px;
justify-content: center;
font-size: 16px;
padding: 10px 14px;
background: #f9f9f9;
color: #7a7a7a;
border: 1px solid #d9d9d9;
border-radius: 3px;
transition: background-color .1s,border-color .1s,color .1s,fill .1s;
}
.accordian .tut-arrow-toggle{
display: none!important;
}
.accordian:hover .tut-arrow-toggle{
display: block!important;
}

.badge-info {
  color:#7F7F7F;
  background-color:#F8F8F8;
}
.tut-list-heading{
  background-color: #F1F1F1;
}
.course-header{
  background-color: beige;
}

#sort .text-success{
  color: #DA552F!important
}