html,
body {
    margin: 0;
    padding: 0;
}

.fa-heart {
    color: red;
}

.bg-White {
    background-color: White;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    text-align: left;
}

a {
    cursor: pointer;
}
.tut-vote a{
color: #7a7a7a;
}

.tut-vote .arrow {
transform: scale(1.5);
line-height: 1.2;
transition: all .1s linear;
}

.tut-vote .vote-widget {
display: flex;
flex-direction: column;
align-items: center;
width: 55px;
height: 60px;
justify-content: center;
font-size: 16px;
padding: 10px 14px;
background: #f9f9f9;
color: #7a7a7a;
border: 1px solid #d9d9d9;
border-radius: 3px;
transition: background-color .1s,border-color .1s,color .1s,fill .1s;
}
aside{
height: max-content;
}

#user_comment .card-body{
    background-color: beige;
}
.tut-vote .text-success, .tut-vote a.text-success:focus, .tut-vote a.text-success:hover{
    color: #DA552F !important;
}
