
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top pl-5 ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon pl-2 mr-2"></span>
            </button>
            <img src="resources/images/iLearnLogo.png" height="50px" class="mr-4" alt="ilearn360 logo">
            <a class="navbar-brand mr-5 font-weight-bold " href="#"><h2 class="headingmain">iLearn360</h2></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">



                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-none" id="showsafterlogin">

                    <li class="nav-item">
                        <a class="nav-link submittutorial pr-4 pt-2" data-toggle="modal" data-target="#newCourseModal"><h5>+ Submit
                                Tutorial</h5></a>
                    </li>

                    <li class="nav-item dropdown  ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fa fa-user-circle"></i> Welcome User
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Saved Links</a>
                            <button class="dropdown-item"  id="btnLogout">Logout</button>

                        </div>
                    </li>


                </ul>
                <!--login sign up -->
                <ul class="nav navbar-nav navbar-right ml-auto" id="showsabeforelogin">		
                        <li class="nav-item">
                                <a class="nav-link submittutorial pr-4 pt-2" data-toggle="modal" data-target="#newCourseModal"><h5>+ Submit
                                        Tutorial</h5></a>
                            </li>	
                        <li class="nav-item">
                            <a data-toggle="dropdown" class="btn btn-primary btn-sm nav-link dropdown-toggle" href="#">Login</a>
                            <ul class="dropdown-menu form-wrapper">					
                                <li>
                                      <p class="hint-text">Sign in with your social media account</p>
                                        <div class="or-seperator"><b>or</b></div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtEmail" placeholder="Username" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  id="txtPassword" placeholder="Password" required="required">
                                        </div>
                                        <button id="btnLogin" class="btn btn-primary">Sign in</button>
                                                                                       
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle mt-1 mb-1">Sign up</a>
                            <ul class="dropdown-menu form-wrapper">					
                                <li>
                                        <p class="hint-text">Fill in this form to create your account!</p>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="txtSnpEmail" placeholder="Username" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="txtSnpPassword" class="form-control" placeholder="Password" required="required">
                                        </div>
                                        <button id="btnSnpSignup" class="btn btn-primary btn-block" >Sign up</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
 <!--login sign up  finishid -->
            </div>
        </nav>
  